<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
</head>

  <body>
  {% extends "template.html" %}
  {% block content %}

      <center><h1>Upload Image</h1></center>

<center><form method="post" action="/action" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required> 
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form></center>

      <center><p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p></center>
    {% endblock %}
  </body>